/*Global =======================================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Resetando a borda da caixa pelo tamanho definido da caixa e não pelo conteúdo*/
}
:root{
    --dark-blue: #363f5f;
}
body{
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

.container{
    width:min(90vw, 800px);/* Função para facilitar a responsividade*/
    margin: auto;
}
/*Titles =======================================================*/
h2{
    margin-top: 3.2rem;
    margin-bottom: .8rem;
    color: var(--dark-blue);
    font-weight: 400;
}
/*Header =======================================================*/
header{
    background: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;
}
#logo{
    color: #fff;
    font-weight: 100;
}
/*Balance =======================================================*/
#balance{
    margin-top: -8rem;
}
#balance h2{
    color: #fff;
    margin-top: 0;
}
/*Cards =======================================================*/
.card{
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: .25rem;
    margin-bottom: 2rem;
    color: var(--dark-blue);
}
.card h3{
    font-weight: 400;
    font-size: 1rem;
}
.card p{
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}
.card.total{
    background: #49aa26;
    color: #fff;
}
/*Table =======================================================*/
#data-table{
    width: 100%;
    border-spacing: 0 0.5rem;
    color:#969cb3;
}
table thead tr th:first-child,table tbody tr td:first-child{/* Acessando o primeiro filho semântico de cada parte da Tabela*/
    border-radius: .25rem 0 0 .25rem;
}
table th{
    background: #fff;
    font-weight: 400;
    padding: 1rem 2rem;
    text-align: left;
    color: #969cb3;
}
table tbody tr{
    opacity: 0.7;
}
table tbody tr:hover{
    opacity: 1;
}
table tbody td{
    background: #fff;
    padding: 1rem 2rem;
}
td.description{
    color: var(--dark-blue);
}
td.expense{
    color: #e92929;
}
td.income{
    color:#12a454;
}
/*Footer =======================================================*/
footer{
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: 0.6;
}